.loginbox{
    display : flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.registerbox{
    display : flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
